body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

button {
  margin-top: 10px;
  padding: 6px 10px;

  color: white;
  border: 1px solid white;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0 0 10px white;

  transition: 1s;
}

button:hover {
  transform: scale(1.1);
  background-color: red;
}
