/* 
  <link rel="stylesheet" href="../../Styles/Fonts.css">

  *{
    font-family: Press Start 2P, "Courier New", Courier, monospace;
  }
*/

@font-face {
  font-family: "BitFont";
  src: url("../Assets/Fonts/BitFont/BitFont.ttf");
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../Assets/Fonts/PressStart2P/PressStart2P.ttf");
}

@font-face {
  font-family: "StarJout";
  src: url("../Assets/Fonts/StarJout/StarJout.ttf");
}

@font-face {
  font-family: "Hello Denver Display";
  src: url("../Assets/Fonts/Hello\ Denver\ Display/hellodenverdisplayregular_v1.6.ttf")
      format("ttf"),
    url("../Assets/Fonts/Hello\ Denver\ Display/hellodenverdisplayregular_v1.6.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

html,
body,
div#container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label {
  cursor: pointer;
}

a {
  text-decoration: none;
}
