:root {
    --borda: 100px;
    --raio: 500px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

div {
    width: var(--raio);
    height: var(--raio);
    border-radius: 50%;
    border: var(--borda) double gold;
    border-top: var(--borda) double royalblue;
    background-color: rebeccapurple;
    transition: 10s;
    transition-timing-function: cubic-bezier(.5, 1.5, .5, 1.5);
    transition-delay: 0.5s;
}

div:hover {
    transform: rotate(360deg);
    background-color: firebrick;
    border-color: orange;
    border-top-color: black;
}