/* Reset */
* {
  font-family: "Courier New", Courier, monospace, cursive !important;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

button,
a {
  outline: none;
}

button,
a {
  cursor: pointer;
}

/* Styling */

h1 {
  text-align: center;
}

span#spanMaxNumber,
span#spanCurrentAttempts {
  color: red;
}

div.action {
  width: 99%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
  border-radius: 6px;
  box-shadow: 0 0 10px red;
}

table#Table {
  margin: 2px;
  overflow: auto;
}
