@font-face {
  font-family: StarJedi;
  src: url(./Starjout.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: StarJedi, "Courier New", Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

html h1,
body h1 {
  position: fixed;
  top: 0;
  width: 100vw;
  text-align: center;
}

html .deslize,
body .deslize {
  height: 60em;
  width: 50%;
  position: fixed;
  bottom: 0;
  left: 50%;
  top: auto;
  color: #ffff66;
  font-size: 40px;
  transform-origin: center bottom;
  transform: perspective(800px) rotateX(25deg) translateX(-50%);
}

html .deslize div,
body .deslize div {
  position: fixed;
  animation-duration: 40s;
  animation-name: deslize;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes deslize {
  0% {
    top: 100%;
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 0;
  }
}
