* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

.DancaDoQuadrado {
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: royalblue;
    animation: animacao 4s alternate infinite;
}

@keyframes animacao {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        left: 50%;
        top: 0px;
    }
    50% {
        left: 50%;
        top: 50%;
    }
    75% {
        left: 0px;
        top: 50%;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}