* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  color: whitesmoke;
}

body main {
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 4px;
  background-color: red;
}

body main article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: royalblue;
  transition: .5s;
}

body main article div.conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body main article div.conteiner div.horizontal {
  display: flex;
}

body main article div.conteiner div.horizontal img {
  margin: 2px;
  border: 2px solid black;
  height: 100px;
  width: 100px;
}

body main article div.conteiner div.horizontal div.informations {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2px;
}

body main article div.conteiner div.horizontal div.informations * {
  width: 100%;
  text-align: center;
  background-color: darkgoldenrod;
  margin-top: 2px;
}

body main article div.conteiner div.horizontal div.informations button {
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
}

body main article div.conteiner p {
  width: 100%;
  margin-top: 4px;
  background-color: firebrick;
  text-align: center;
}

body main article div.conteiner p span {
  margin: 0 4px;
}

body main article div.conteiner p button {
  cursor: pointer;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 2px;
}

body main article:nth-child(even) {
  background-color: darkblue;
  color: whitesmoke;
}

body main article:hover {
  background-color: gold;
}

body main div#modal {
  display: none;
  overflow: auto;
}

body footer {
  height: 10%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

body footer #progressBar {
  width: 100%;
  height: 30px;
  background-color: #fff;
  border-radius: 20px;
}

body footer #progressBar #progress {
  border-radius: 100px;
  height: 100%;
  width: 10%;
  background-color: #0ff;
}

body footer span {
  text-align: center;
  color: #fff;
}

body footer span:nth-last-child(1) {
  color: #0ff;
}
