* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

html body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #002945;
}

html body div.frame {
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50px;
  filter: brightness(1.2) contrast(3);
  border: 5px solid #ff00c8;
  box-shadow: 0px 0px 20px #00ccff, inset 0px 0px 20px #00ccff, 0px 0px 60px #ff00c8, inset 0px 0px 60px #ff00c8;
  animation: rotating 3s ease-out infinite;
}

html body div.frame:nth-child(1) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.1s;
  z-index: 9;
}

html body div.frame:nth-child(2) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.2s;
  z-index: 8;
}

html body div.frame:nth-child(3) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.3s;
  z-index: 7;
}

html body div.frame:nth-child(4) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.4s;
  z-index: 6;
}

html body div.frame:nth-child(5) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.5s;
  z-index: 5;
}

html body div.frame:nth-child(6) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.6s;
  z-index: 4;
}

html body div.frame:nth-child(7) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.7s;
  z-index: 3;
}

html body div.frame:nth-child(8) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.8s;
  z-index: 2;
}

html body div.frame:nth-child(9) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 0.9s;
  z-index: 1;
}

html body div.frame:nth-child(10) {
  transform: rotate(40deg);
  opacity: 1;
  animation-delay: 1s;
  z-index: 0;
}

@keyframes rotating {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
