@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
* {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  transition: 2s;
  cursor: cell;
}

html,
body,
main {
  height: 100%;
}

body {
  background-color: black;
}

body header {
  position: fixed;
  top: 0;
}

body header select {
  width: 150px;
  height: 30px;
  margin: 24px 20px 0 0;
  float: right;
  outline: none;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-size: 18px;
  background-color: royalblue;
  cursor: crosshair;
}

body main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body main * {
  color: whitesmoke;
  text-align: center;
}

body main div h1 {
  font-size: 50px;
  margin-bottom: 16px;
  letter-spacing: 14px;
}

body main div h2 {
  font-size: 32px;
  margin-bottom: 40px;
  letter-spacing: 14px;
}

body main p {
  font-size: 20px;
}

body footer {
  position: fixed;
  height: 24px;
  bottom: 4px;
  text-align: center;
}

body footer a {
  text-decoration: none;
  color: royalblue;
  cursor: crosshair;
}

@media only screen and (max-width: 600px) {
  main * {
    letter-spacing: initial;
  }
  main h1 {
    font-size: 32px;
  }
  main h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  main h1 {
    font-size: 16px;
  }
  main h2 {
    font-size: 14px;
  }
}
