* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Consolas", "monaco", monospace;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}

ul li {
  list-style: none;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* -------------------------------- */

header h1 {
  margin-top: 10px;
  color: whitesmoke;
}

footer a {
  margin-bottom: 10px;
}
