* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  background-color: white;
  body {
    width: 100%;
    main {
      margin: 10px;
      button {
        outline: none;
        cursor: pointer;
      }
      .btn1 {
        padding: 4px 10px;
        border-radius: 20px;
        border: 1px solid black;
        color: black;
        font-size: 20px;
        &:hover {
          background-color: #d6d6d6;
        }
        &:active {
          background-color: #acacac;
        }
      }
      .btn2 {
        border: 2px solid red;
        border-radius: 4px;
        padding: 6px 8px;
        background-color: white;
        color: red;
        transition: 0.5s;
        &:hover {
          background-color: red;
          color: white;
        }
        &:active {
          color: red;
          transform: scale(0.95);
        }
      }
      .btn3 {
        border: 1px solid black;
        border-radius: 2px;
        padding: 6px 8px;
        background-color: white;
        transition: 0.5s;
        box-shadow: 2px 2px 4px black;
        &:hover {
          transform: scale(1.1);
          box-shadow: 4px 4px 6px black;
        }
        &:active {
          transform: scale(0.95);
          box-shadow: 1px 1px 2px black;
        }
      }
      .btn4 {
        border: none;
        border-radius: 2px;
        padding: 6px 8px;
        background-color: white;
        box-shadow: 2px 2px 4px black;
        transition: 0.5s;
        &:hover {
          transform: scale(1.1);
          box-shadow: 10px 10px 6px grey;
        }
        &:active {
          transform: scale(1.08);
          color: white;
          background-color: black;
        }
      }
      .btn5 {
        border: 1px solid black;
        border-radius: 2px;
        padding: 10px 14px;
        background-color: green;
        box-shadow: 0 10px #999;
        transition: 0.5s;
        &:hover {
          background-color: greenyellow;
        }
        &:active {
          background-color: yellow;
          box-shadow: 0 2px #666;
          transform: translateY(8px);
        }
      }
      .btn6 {
        border: 1px solid black;
        border-radius: 2px;
        padding: 10px 14px;
        background-color: white;
        color: black;
        transition: 0.5s;
        &:hover {
          transform: translateX(-5px);
        }
        &:active {
          transform: translateX(20px);
          color: white;
          background-color: black;
        }
      }
      .btn7 {
        border: 1px solid black;
        border-radius: 2px;
        padding: 10px 14px;
        background-color: white;
        color: black;
        transition: 0.5s;
        &:active {
          transform: matrix(1, -0.3, 0, 1, 0, 0);
          color: white;
          background-color: black;
        }
      }
      .btn8 {
        border: 1px solid black;
        border-radius: 2px;
        padding: 10px 14px;
        background-color: white;
        color: black;
        transition: 0.5s;
        &:hover {
          transform: rotate(-45deg);
        }
        &:active {
          transform: rotate(180deg);
          color: white;
          background-color: black;
        }
      }
      .btn9 {
        border: 1px solid black;
        border-radius: 2px;
        padding: 10px 14px;
        background-color: white;
        color: black;
        transition: 0.5s;
        &:hover {
          transform: scale(0.9, 0.7);
        }
        &:active {
          transform: scale(2, 1.5);
          color: white;
          background-color: black;
        }
      }
      .btn10 {
        border: 1px solid black;
        border-radius: 2px;
        padding: 10px 14px;
        background-color: white;
        color: black;
        transition: 0.5s;
        &:hover {
          transform: skew(-5deg, -5deg);
        }
        &:active {
          transform: skew(20deg, 10deg);
          color: white;
          background-color: black;
        }
      }
    }
  }
}
